<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:c="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.5.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

       <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
             destroy-method="close">
              <property name="driverClassName" value="com.mysql.jdbc.Driver" />
              <property name="url" value="@url@" />
              <property name="username" value="@username@" />
              <property name="password" value="@password@" />
              <property name="maxActive" value="4" />
       </bean>


    <bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>org.copakb.server.dao.model.Peptide</value>
                <value>org.copakb.server.dao.model.Spectrum</value>
                <value>org.copakb.server.dao.model.LibraryModule</value>
                <value>org.copakb.server.dao.model.Species</value>
                <value>org.copakb.server.dao.model.PTM_type</value>
                <value>org.copakb.server.dao.model.Disease</value>
                <value>org.copakb.server.dao.model.DiseaseGene</value>
                <value>org.copakb.server.dao.model.Gene</value>
                <value>org.copakb.server.dao.model.HPA</value>
                <value>org.copakb.server.dao.model.ProteinCurrent</value>
                <value>org.copakb.server.dao.model.ProteinGene</value>
                <value>org.copakb.server.dao.model.GOProtein</value>
                <value>org.copakb.server.dao.model.GoTerms</value>
                <value>org.copakb.server.dao.model.ProteinHistory</value>
                <value>org.copakb.server.dao.model.Version</value>
                <value>org.copakb.server.dao.model.PTM</value>
                <value>org.copakb.server.dao.model.SpectrumProtein</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>

    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>

    <bean id="peptideDAO" class="org.copakb.server.dao.PeptideDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>

    <bean id="proteinDAO" class="org.copakb.server.dao.ProteinDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>

    <bean name="obj" class="org.copakb.server.dao.DAOObject">
    </bean>

    <!--http://stackoverflow.com/questions/17893293/spring-mongodb-xml-configuration-with-credentials-fails-->

    <mongo:mongo host="10.44.115.51" port="27017" id="mongo"/>
    <mongo:db-factory dbname="Analysis-Test" mongo-ref="mongo" id="mongoDbFactory"/>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
    </bean>

    <bean id="reportDAO" class="org.copakb.server.dao.ReportDAOImpl">
        <constructor-arg name="mongoOps" ref="mongoTemplate"/>
    </bean>



</beans>